@page
@model PinewoodsCrm.UI.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Current Customers</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customers[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customers[0].DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customers[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customers[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customers[0].Type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var customer in Model.Customers) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => customer.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => customer.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => customer.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => customer.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => customer.Type)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@customer.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@customer.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@customer.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
